<div class="tile is-ancestor">
  <div class="tile is-half is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">About</p>

      <div class="content">
        <p>This is demo application built with Angular 2<p>
        <ul>
          <li><a href="https://www.eventbrite.co.uk/e/building-spa-with-nodejs-and-angular2-tickets-32402850799">Building SPA with Hapi.js and Angular 2</a></li>
          <li><a href="https://github.com/Phonbopit/node-x-angular">Source code on Github</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="tile is-half is-parent">
    <div class="tile is-child box">
      <p class="title">Credit</p>

      <div class="content">
        <ul>
          <li><a href="http://bulma.io/">Bulma</a> for CSS Framework</li>
          <li><a href="https://www.opendota.com/">OpenDota API</a> for mock data</li>
        </ul>
      </div>

    </div>
  </div>
</div>
