<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://api.opendota.com{{hero?.img}}" alt="Icon">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{hero?.localized_name}}</p>
        <p class="subtitle is-6">{{hero?.name}}</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="columns">
  <div class="column">
    <a class="button is-outlined" routerLink="/heroes">Back</a>
  </div>
    <div class="column">
    <a class="button is-outlined" (click)="like()">Like</a>
  </div>
</div>
